%h2 Looking For Help?

%p
  there are a few rules to keep in mind while playing

.rules
  %ul
    %li
      .title Infinitive Verbs
      .rule
        Infinitive verbs in Spanish typically end in -er, -ar, or -ir.
        %br
        %br
        In English, infinitive verbs must be modified with another word,
        namely <em>"to"</em>, e.g., ("to read", "to look", etc.)
        %br
        %br
        So, write infinitive verbs as "to X", rather than simply "X"
    %li
      .title Masculine and Feminine Nouns
      .rule
        In Spanish, nouns are either masculine or feminine. Not a judgement
        or anything, just the way it is. Learn it. Sorry.
        %br
        %br
        Spanish nouns are written <b>with</b> their correct pronoun.
        When writing English words, omit pronoun.