!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title The Spanish Inquisition
    %link{ :type => "text/css", :rel => "stylesheet", :href => "css/all.css" }
    
  %body
    %header
      %hgroup
        %a{:href => "/"}
          %h1 The Spanish Inquisition
    
    .score
      %h3 Points:
      .points
    
    .main
      =yield
    
    %footer
      Brought to you by
      %a{:href=>"http://sinatrarb.com/"}Sinatra
      and
      %a{:href=>"http://mongodb.org/"}MongoDB
      by
      %a{:href=>"http://github.com/deepthawtz/"}Dylan Clendenin.
    
    %script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "js/app.js" }

    