.notice

%h3 Application Preferences
%p these will be applied per session

%form.preferences
  %p Hints Turned On
  %input.hints-yes{:type => "radio"} Yes
  %input.hints-no{:type => "radio"} No

%a.back{:href => "/"} go back
